In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("../retail.db")

df = pd.read_csv("../data/processed/retail_cleaned.csv")
df.to_sql("retail", conn, if_exists="replace", index=False)

query = """
SELECT country, SUM(revenue) as total_revenue
FROM retail
GROUP BY country
ORDER BY total_revenue DESC
LIMIT 10
"""

pd.read_sql(query, conn)

          country  total_revenue
0  United Kingdom   7.285025e+06
1     Netherlands   2.854463e+05
2            EIRE   2.652625e+05
3         Germany   2.286784e+05
4          France   2.089343e+05
5       Australia   1.384538e+05
6           Spain   6.155856e+04
7     Switzerland   5.644395e+04
8         Belgium   4.119634e+04
9          Sweden   3.836783e+04